<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telif hakkı © Web siteniz 2019</font></font></span>
        </div>
    </div>
</footer>
